@page
@model scs3.Pages.StmovModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move Stock</title>
    <style>
        
        body {
            background-color: ghostwhite;
        }

        .container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .btn:hover {
                background-color: #45a049;
            }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            border-radius: 5px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden; /* Hide overflowing content */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            border: 1px solid #ddd;
        }

        tr {
            background-color: #fff;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .history {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <div class="container">
        <button class="btn" onclick="openPopup()">Move Stock</button>
    </div>

    <!-- Popup Modal here -->
    <div id="popupModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <div id="dataFromFirebase">
                @if (Model.FirebaseData != null)
                {
                    <form method="post" asp-page-handler="DeleteAndDisplayForm">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Device ID</th>
                                    <th>Device Name</th>
                                    <th>Device Type</th>
                                    <th>Location</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var device in Model.FirebaseData)
                                {
                                    <tr>
                                        <td><input type="checkbox" name="selectedDevices" value="@device.DeviceID" /></td>
                                        <td>@device.DeviceID</td>
                                        <td>@device.DeviceName</td>
                                        <td>@device.DeviceType</td>
                                        <td>@device.Location</td>
                                        <td>@device.Quantity</td>
                                        <td>@device.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br> 
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">Additional Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sold To:</td>
                                    <td><input type="text" id="soldTo" name="soldTo" required></td>
                                </tr>
                                <tr>
                                    <td>Client Address:</td>
                                    <td><input type="text" id="cid" name="cid" required></td>
                                </tr>
                                <tr>
                                    <td>Street Name:</td>
                                    <td><input type="text" id="cid1" name="cid1" required></td>
                                </tr>
                                <tr>
                                    <td>Postcode:</td>
                                    <td><input type="text" id="cid2" name="cid2" required></td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td><input type="date" id="date" name="date" required></td>
                                </tr>
                                <tr>
                                    <td>Due Date:</td>
                                    <td><input type="date" id="ddate" name="ddate" required></td>
                                </tr>
                                <tr>
                                    <td>Time:</td>
                                    <td><input type="time" id="time" name="time" required></td>
                                </tr>
                                <tr>
                                    <td>Quantity:</td>
                                    <td><input type="number" id="quantity" name="quantity" required></td>
                                </tr>                              
                            </tbody>
                        </table>
                        <br> 
                        <button type="submit">Move Selected and Show Form</button>
                    </form>
                }
                else
                {
                    <p>No data available.</p>
                }
            </div>

        </div>
    </div>
    <input style="text-align:center; background-color:orangered" id="errorMessage" value="@TempData["ErrorMessage"]" />

    <div class="history">
        <h2>Stock Movement History</h2>
        <table>
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Device Name</th>
                    <th>Device Type</th>
                    <th>Location</th>
                    <th>Sold To</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Quantity</th>
                    <th>Price(£)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model.DeletedDeviceHistory)
                {
                    <tr>
                        <td>@device.DeviceID</td>
                        <td>@device.DeviceName</td>
                        <td>@device.DeviceType</td>
                        <td>@device.Location</td>
                        <td>@device.SoldTo</td>
                        <td>@device.Date.ToString("dd/MM/yyyy")</td>
                        <td>@device.Time</td>
                        <td>@device.Quantity</td>
                        <td>@device.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function openPopup() {
            var modal = document.getElementById("popupModal");
            modal.style.display = "block";
        }

        function closePopup() {
            var modal = document.getElementById("popupModal");
            modal.style.display = "none";
        }
    </script>

</body>
</html>
